.DS_Store
.build/
.swiftpm/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.env
.env.*
!.env.example
*.p8
*.p12
*.mobileprovision
*.cer
*.certSigningRequest
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
